.g-btn {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  min-width: 88px;
  /*height: 36px;*/
  margin: 10px 8px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: .5px;
  border-radius: 2px;
  background: #F1F1F1;
  color: #393939;
  transition: background 200ms ease-in-out;
  box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
}

.g-btn--flat {
  background: transparent;
  margin: 10px 8px;
  min-width: 52px;
}

.g-btn:hover {
  background: rgba(153, 153, 153, 0.2);
  color: #393939;
}

.g-btn:active {
  box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
}

.g-btn--flat, .g-btn--flat:hover, .g-btn--flat:active {
  box-shadow: none;
}