<!doctype html>
<html lang="en">
  <head>
    <title>example</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- radio -->
    <link rel="stylesheet" href="css/radio.css">
  </head>
  <body>
    <label>
      <input name="chosenDB" id="pdo" type="radio" value="pdo" checked /> <span>PDO</span>
    </label>
    
    <label>
      <input name="chosenDB" id="msqli" type="radio" value="msqli" /> <span>MSQLi</span>
    </label>
  </body>
</html>