<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Custom File Inputs</title>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../css/bootstrap.css">
		
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="../../js/jQuery.js"></script>
		<script src="../../js/popper.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="css/fileInput.css">
		<script src="js/fileInput.js"></script>
	</head>
	<body>
		<div class="custom-file">
			<input name="userImmage" type="file" class="custom-file-input" id="fileInput">
			<label class="custom-file-label" id="label" for="customFile"><i class="fas fa-file-upload"></i>Drag your files or click here.</label>
		</div>
	</body>
</html>
